<!DOCTYPE html>
<html>
<head>
	<title>Kegiatan</title>
	{% include "navbar.html" %}
</head>
<body>
	<h2>Jadwal Kegiatan</h2>

	<form method="POST">
	{% csrf_token %}
	<table>
		{{form_siswa.as_table}}
	</table>
	<button type="Submit" name="submit">Submit</button>

	<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Nama Siswa</th>
    </tr>
    </thead>
    <tbody>
    	{% for sis in siswa_target %}
    	<tr>
            {% if sis.kegiatan == siswa %}
    		<th scope="row">{{sis.namaSiswa}}</th>
            {% endif %} 
    	</tr>
    </tbody>
    {% endfor %}
</body>
</html>