<!DOCTYPE html>
<html>
<head>
	<title>Kegiatan</title>
	{% include "navbar.html" %}
</head>
<body>
	<h2>Jadwal Kegiatan</h2>

	<form method="POST">
	{% csrf_token %}
	<table>
		{{kegiatann.as_table}}
	</table>
	<button type="Submit" name="submit">Submit</button>

	<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Nama Kegiatan</th>
    </tr>
    </thead>
    <tbody>
    	{% for keg in kegiatan %}
    	<tr>
    		<th scope="row">{{keg.namaKegiatan}}</th>
    		<td><a href="{% url 'stori6:create' siswa_id=keg.id %}" class="btn btn-danger">Lihat/Add Siswa</a></td>
    	</tr>
    </tbody>
    {% endfor %}
</body>
</html>